<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="internal-nlog.txt">
  <!--define various log targets-->
  <targets async="true">
    <!--write logs to file-->
    <target xsi:type="File" name="allfile" fileName="NlogFile/Application-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="api-web" fileName="NlogFile/Api-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <target xsi:type="File" name="Business" fileName="NlogFile/Business-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>

    <target xsi:type="Null" name="blackhole" />


  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name ="*" minlevel="Trace" writeTo="allfile"/>
    <logger name="CompareMoney.Business.Services.CompareMoenyHandle" minlevel="Trace" writeTo="Business"/>
    <logger name="CompareMoney.Core.Api.Controllers.UserController" minlevel="Trace" writeTo="api-web"/>
    <logger name="CompareMoney.Core.Api.Controllers.DownLoadController" minlevel="Trace" writeTo="api-web"/>
    <logger name="CompareMoney.Core.Api.Controllers.GqgjzyyController" minlevel="Trace" writeTo="api-web"/>
    <logger name="CompareMoney.Core.Api.Controllers.SystemController" minlevel="Trace" writeTo="api-web"/>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

  </rules>
</nlog>